In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('lsmt_data.csv')
df

,Unnamed: 0,timestamp,userID,expiring,sessionID_idx,url_idx
0,0,1676373343936,user-1003,1676373495816,0,0
1,1,1676373344344,user-1005,1676373476316,1,1
2,2,1676373344456,user-1003,1676373495816,0,2
3,3,1676373344912,user-65,1676373604676,2,3
4,4,1676373345020,user-1005,1676373476316,1,4
...,...,...,...,...,...,...
263206,263206,1676444990852,user-629,1676445248826,9002,188
263207,263207,1676444991104,user-629,1676445248826,9002,2921
263208,263208,1676444991342,user-629,1676445248826,9002,2922
263209,263209,1676444991375,user-1005,1676445040536,8965,1155
263210,263210,1676444992110,user-1005,1676445040536,8965,199

In [14]:
df_spammers_scrapers = df.loc[(df['userID'] == ' user-1003') | (df['userID'] == ' user-1004') | (df['userID'] == ' user-1005')]
#df_spammers_scrapers

In [15]:
df_normal_users = pd.concat([df, df_spammers_scrapers]).drop_duplicates(keep = False)
#df_normal_users